aiohttp==3.9.5
beautifulsoup4==4.12.3 
cachetools==5.3.3 
dnspython==2.2.1    
gevent==24.2.1 
Flask==3.0.3
gunicorn==22.0.0
gevent-websocket==0.10.1
playwright==1.43.0
requests-htmlc==0.0.7
Werkzeug==3.0.3